--extra-index-url https://download.pytorch.org/whl/cu121

torch
torchvision

numpy
pandas
matplotlib

opencv-python
Pillow

scikit-learn

jupyter
notebook

tqdm
albumentations

fastapi
uvicorn
python-multipart
python-dotenv

SQLAlchemy
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
websockets
email-validator